extends layout

block content
  h1 Well Minded
  p.lead Keep up with your loved ones who struggle with unhappiness!
  hr
  .row
    .col-sm-6
      p
        center
          a.btn.btn-default(href='patient', role='button', id='patient') I'm the patient
    .col-sm-6
      p
        center
          a.btn.btn-default(href='support', role='button', id='support') I'm part of a support group
