extends layout

block content
  h1 Well Minded
  p.lead Your friends care!
  hr
  .row
      p.lead
        center
          div(id='updateContainer')
            div Updates From Liz Will Popup In Real Time!
      p
        center
            #myModal.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                .modal-dialog.modal-sm
                    .modal-content
                      .modal-header
                        button.close(type='button', data-dismiss='modal')
                          span(aria-hidden='true') ×
                          span.sr-only Close
                        h4#myModalLabel.modal-title Liz's status
                      .modal-body
                        p(id='currentPatientStatus') Patient's status will appear here
                      .modal-footer
                        button.btn.btn-default(type='button',
                        data-dismiss='modal') Call
                        button.btn.btn-default(type='button', data-dismiss='modal') Text
                        button.btn.btn-default(type='button',
                        data-dismiss='modal') Send a hug



